body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: lightblue;
} */

.mapboxgl-map {
    min-width: 500px !important;
    min-height: 500px !important;
}

.marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

#headingPopup {
    text-decoration: underline;
}

#past-search-container {
    display: none;
}

.mapboxgl-popup-close-button {
    border-color: cyan;
    border-radius: 10px;
    padding: 5px;
}